[Desktop Entry]
Version=1.0
Name=Empathy
GenericName=IM Client
X-GNOME-FullName=Empathy IM Client
X-GNOME-FullName[ar]=المرسال إمبثي
X-GNOME-FullName[as]=Empathy IM গ্ৰাহক
X-GNOME-FullName[ast]=Veceru de Mensaxería nel Intre Empathy
X-GNOME-FullName[be]=Empathy IM-кліент
X-GNOME-FullName[bg]=Моментни съобщения (Empathy)
X-GNOME-FullName[bn]=Empathy আই এম ক্লায়েন্ট
X-GNOME-FullName[bn_IN]=Empathy IM ক্লায়েন্ট
X-GNOME-FullName[br]=Arval postelerezh prim Empathy
X-GNOME-FullName[ca]=Client de missatgeria instantània Empathy
X-GNOME-FullName[cs]=Komunikátor Empathy
X-GNOME-FullName[da]=Empathy IM-klient
X-GNOME-FullName[de]=Empathy Sofortnachrichtenprogramm
X-GNOME-FullName[el]=Αποστολέας άμεσων μηνυμάτων Empathy
X-GNOME-FullName[en_GB]=Empathy IM Client
X-GNOME-FullName[es]=Cliente de mensajería instantánea Empathy
X-GNOME-FullName[et]=Empathy sõnumivahetuse klient
X-GNOME-FullName[eu]=Empathy BM bezeroa
X-GNOME-FullName[fi]=Empathy-pikaviestin
X-GNOME-FullName[fr]=Messagerie instantanée Empathy
X-GNOME-FullName[ga]=Cliant IM Empathy
X-GNOME-FullName[gl]=Cliente de mensaxaría Empathy
X-GNOME-FullName[gu]=Empathy IM Client
X-GNOME-FullName[he]=לקוח מסרים מיידים Empathy
X-GNOME-FullName[hi]=एंपेथी IM क्लाएंट
X-GNOME-FullName[hu]=Empathy üzenetküldő
X-GNOME-FullName[it]=Messaggistica istantanea Empathy
X-GNOME-FullName[ja]=Empathy インスタント・メッセンジャー
X-GNOME-FullName[kn]=Empathy IM ಕ್ಲೈಂಟ್
X-GNOME-FullName[ko]=엠퍼시 메신저 클라이언트
X-GNOME-FullName[lt]=Tikralaikių pokalbių klientas Empathy
X-GNOME-FullName[ml]=എമ്പതി ഐഎം ക്ലൈന്റ്
X-GNOME-FullName[mr]=Empathy IM क्लाएंट
X-GNOME-FullName[nb]=Empathy IM-klient
X-GNOME-FullName[or]=Empathy IM କ୍ଲାଏଣ୍ଟ
X-GNOME-FullName[pa]=ਇੰਪੈਥੀ IM ਕਲਾਇਟ
X-GNOME-FullName[pl]=Komunikator Empathy
X-GNOME-FullName[pt]=Cliente de MI Empathy
X-GNOME-FullName[pt_BR]=Cliente de mensagens instantâneas Empathy
X-GNOME-FullName[ro]=Mesagerie instant Empathy
X-GNOME-FullName[ru]=Клиент обмена мгновенными сообщениями Empathy
X-GNOME-FullName[sl]=Empathy odjemalec trenutnih sporočil
X-GNOME-FullName[sr]=Интернет писмоноша за брзе поруке
X-GNOME-FullName[sr@latin]=Internet pismonoša za brze poruke
X-GNOME-FullName[sv]=Snabbmeddelandeklienten Empathy
X-GNOME-FullName[ta]=Empathy IM கிளையன்
X-GNOME-FullName[te]=ఎంఫతి IM కక్షిదారి
X-GNOME-FullName[th]=ลูกข่ายข้อความทันใจ Empathy
X-GNOME-FullName[tr]=Empati Mesajlaşma İstemcisi
X-GNOME-FullName[uk]=Миттєві повідомлення Empathy
X-GNOME-FullName[zh_CN]=Empathy IM 客户端
X-GNOME-FullName[zh_HK]=Empathy IM 客戶端程式
X-GNOME-FullName[zh_TW]=Empathy IM 客戶端程式
Comment=Send and receive messages
Exec=empathy
Icon=empathy
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;InstantMessaging;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=empathy
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=2.28.1.1
X-Ubuntu-Gettext-Domain=empathy
X-GNOME-Autostart-enabled=false
